.panel-heading,html,body {
    line-height: 1.42857143!important;
    padding: 0;
    margin: 0
}

body {
    font: 12px "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*background: rgba(0, 0, 0, 0) linear-gradient(white, #d3d8e8) repeat scroll 0 0;*/
    background: rgba(0, 0, 0, 0) linear-gradient(white, #d3d8e8) no-repeat fixed;
    color: black;
}

/*link style a href here*/
a {
    /*color: #2196F3*/
    color: black;
}

a:hover {
    /*color: #005CE6;*/
    color: black;
    font-weight: 700;
}

/*#left-menu .sub-left-menu a:hover,*/
/*a, a:hover, ul li a:focus {
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none
}*/

/* hr style untuk di beranda */
hr {
    margin: 20px 0;
    border: 0;
    color: #8f939c;
    background-color: #8f939c;
    height: 1px;
}

input:focus,
textarea:focus {
    outline: 0!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)!important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)!important;
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)!important;
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)!important;
    border: 1px solid #ddd!important
}

input[type=text] {
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 10px;
    border-radius: 3px!important;
    width: 110px;
}

/*input[name="telp[]"] {
    width: 170px;
}*/

label {
    font-weight: 400;
}

.table > thead > tr > th {
    /*border-bottom: none!important*/
    border: 1px solid grey !important;
    text-align:center;
    vertical-align: middle;
}

.table > tbody > tr > td {
    /*padding: 10px !important;*/
    vertical-align: middle;
    border: 1px solid grey !important;
    max-width: 377px;
}

/*textarea sytle hacks*/
.table > tbody > tr > td > textarea.memo {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box; /* <= iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

/* untuk No. tp berimbas ke td.dataTables_empty */
/*.table > tbody > tr > td:first-child {
    text-align: right;
}*/

/* ------------------- BEGIN style di tabel panel body atas detail.jsp */
.table > tbody > tr > th {  
    border: 1px solid grey !important;
    vertical-align: middle;
    width: 127px;
}

/* untuk titik dua : */
.table > tbody > tr > td:nth-child(2) {  
    width: 1px;
}
/* ------------------- END style di tabel panel body atas detail.jsp */

/*---------------- BEGIN style datatables ----------------*/
div.dataTables_wrapper div.dataTables_length select {
    width: 111px;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;   /* klo dibungkus dgn div col-sm-1 jd ga ngefek */
}

table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty {
    text-align:center;
    color: red;
    font-weight: 700;
    font-size: 13px;
}
/*---------------- END style datatables ----------------*/       

.spacer {
    padding: 0 37px;    /*  top-bottom, right-left   */
}

ul li {
    list-style: none
}

.ui-datepicker {
    font-size: 14px;
    width: auto;
    z-index: 9999 !important
}

.ui-widget-content .ui-widget-header .ui-icon {
    background-image: url(../img/ui-icons_444444_256x240.png)
}

.mimin-wrapper2 {
    padding-left: 0!important;
    padding-right: 0!important;
    position:absolute;
    min-width: 100%;
}

.panel {
    border-radius: 0;
    padding: 0;
    border: none
}

.panel-body{
    padding: 15px;
    background: rgba(0, 0, 0, 0) linear-gradient(white, #d3d8e8) no-repeat fixed;
}

.panel-heading {
    color: #fff!important;
    background: #3b5998!important;
    padding: 5px 5px 5px 20px;
    border-bottom: 1px solid #ddd;
    /*width: 1023px;*/
}

.avatar-dropdown:after,
.navbar-header .dropdown-menu li:after,
.topnav .navbar-header li.active:after,
.user-name:after {
    background: 0 0!important
}

.navbar-header a {
    color: #fff!important;
    font-size: 16px
}

.dropdown a {
    font-size: 16px!important
}

.navbar-header .dropdown-menu a {
    color: #716767!important;
    font-size: 14px!important
}

.top-20 {
    margin-top: 20px
}

.ripple {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden
}

.user-dropdown:after,
.user-dropdown:before {
    position: absolute;
    display: inline-block;
    content: ''
}

.left {
    float: left
}

.padding-0 {
    padding: 0
}

.margin-0 {
    margin: 0
}

.btn {
    -webkit-border-radius: 1px!important;
    -moz-border-radius: 1px!important;
    -ms-border-radius: 1px!important;
    -o-border-radius: 1px!important;
    border-radius: 1px!important;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
    width: auto;
}

.btn-default,
.btn-primary,
.btn-success {
    border: none!important
}

.btn:focus {
    outline: 0
}

.btn-primary {
    color: #fff!important;
    background-color: #1c84c6!important
}

.btn-success {
    color: #fff!important;
    background-color: #27C24C!important
}

.btn-default {
    color: #857E7E!important;
    background-color: #fff!important
}

.btn-3d {
    font-weight: 700!important;
    -webkit-border-radius: 10px!important;
    -moz-border-radius: 10px!important;
    -ms-border-radius: 10px!important;
    -o-border-radius: 10px!important;
    border-radius: 10px!important
}

.btn-3d.btn-primary {
    -webkit-box-shadow: inset 0 0 0 #007299, 0 5px 0 0 #007299, 0 10px 5px #999!important;
    -moz-box-shadow: inset 0 0 0 #007299, 0 5px 0 0 #007299, 0 10px 5px #999!important;
    -ms-box-shadow: inset 0 0 0 #007299, 0 5px 0 0 #007299, 0 10px 5px #999!important;
    -o-box-shadow: inset 0 0 0 #007299, 0 5px 0 0 #007299, 0 10px 5px #999!important;
    box-shadow: inset 0 0 0 #007299, 0 5px 0 0 #007299, 0 10px 5px #999!important
}

.btn-3d.btn-success {
    -webkit-box-shadow: inset 0 0 0 #1DAA3F, 0 5px 0 0 #1DAA3F, 0 10px 5px #999;
    -moz-box-shadow: inset 0 0 0 #1DAA3F, 0 5px 0 0 #1DAA3F, 0 10px 5px #999;
    -ms-box-shadow: inset 0 0 0 #1DAA3F, 0 5px 0 0 #1DAA3F, 0 10px 5px #999;
    -o-box-shadow: inset 0 0 0 #1DAA3F, 0 5px 0 0 #1DAA3F, 0 10px 5px #999;
    box-shadow: inset 0 0 0 #1DAA3F, 0 5px 0 0 #1DAA3F, 0 10px 5px #999
}

.btn-3d.btn-default {
    -webkit-box-shadow: inset 0 0 0 #7B7474, 0 5px 0 0 #7B7474, 0 10px 5px #999;
    -moz-box-shadow: inset 0 0 0 #7B7474, 0 5px 0 0 #7B7474, 0 10px 5px #999;
    -ms-box-shadow: inset 0 0 0 #7B7474, 0 5px 0 0 #7B7474, 0 10px 5px #999;
    -o-box-shadow: inset 0 0 0 #7B7474, 0 5px 0 0 #7B7474, 0 10px 5px #999;
    box-shadow: inset 0 0 0 #7B7474, 0 5px 0 0 #7B7474, 0 10px 5px #999
}

.btn-3d.btn-danger {
    -webkit-box-shadow: inset 0 0 0 #999, 0 5px 0 0 #999, 0 10px 5px #999!important;
    -moz-box-shadow: inset 0 0 0 #999, 0 5px 0 0 #999, 0 10px 5px #999!important;
    -ms-box-shadow: inset 0 0 0 #999, 0 5px 0 0 #999, 0 10px 5px #999!important;
    -o-box-shadow: inset 0 0 0 #999, 0 5px 0 0 #999, 0 10px 5px #999!important;
    box-shadow: inset 0 0 0 #999, 0 5px 0 0 #999, 0 10px 5px #999!important
}

.avatar {
    height: 40px;
    width: 40px;
    border: 4px solid #E0FFFF!important;
    margin-top: 5px
}

.navbar {
    background-color: #3b5998;
    color: #fff;
    border: none
}

.navbar .navbar-brand {
    text-shadow: 0 1px 5px #918C8C;
    font-size: 2em;
    color: #FFF!important
}

.navbar-nav {
    padding-left: 10px
}

.navbar li {
    background: 0 0
}

.user-dropdown {
    margin-top: 20px;
    border: 1px solid #EAE8E8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .1)!important;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .1)!important;
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, .1)!important;
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, .1)!important;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1)!important
}

.user-dropdown li {
    /*overflow: inherit;*/
}

.user-dropdown li a {
    color: #9E9E9E;
    font-weight:100
}

.user-dropdown:before {
    top: -7px;
    left: 134px;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .2)
}

.user-dropdown:after {
    top: -6px;
    left: 135px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent
}

.user-name {
    padding-top: 15px;
    padding-right: 10px
}

.user-name span {
    font: 700 16px "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

/* ---------------- sidebar here ----------------*/

.navigation {
    position: fixed;
    background: rgba(0, 0, 0, 0) linear-gradient(white, #3b5998) repeat scroll 0 0;
    height: 100%;
    font-size: 13px;
    line-height: 40px;
    width: 187px;
    z-index: 222;
    left: 0;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(239, 235, 235, .16), 0 2px 10px 0 rgba(72, 70, 70, .12);
}

.menu {
    padding-top: 77px;
}

.navigation li {
    margin-left: -15px;
}

.navigation li label {
    cursor: pointer;
    color: black;
}

.navigation li label:hover, .navigation li a:hover {
    font-weight: 700;
    color: black;
    text-decoration: underline;
}

.submenu {
    padding-left: 25px;
}

.submenu, .navigation input, .navigation .closer, .navigation input:checked ~ .opener{
    display: none;
}

.navigation input:checked ~ .submenu{
    display: block;
    margin: 0;
}
.navigation input:checked ~ .closer {
    display: block;
    font-weight: 700;
    text-decoration: underline;
}

/*---------------- end sidebar ----------------*/

.avatar {
    position: relative;
    padding: 0
}

#content {
    margin-top: 36px;
    /*padding: 0 0 10px 180px;*/
    left: 190px;
    width: auto;
    position: absolute;
    /*overflow: scroll;*/
}

.btn,
.navbar,
.panel {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .12), 0 1px 1px rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .12), 0 1px 1px rgba(0, 0, 0, .24);
    -ms-box-shadow: 0 1px 0 rgba(0, 0, 0, .12), 0 1px 1px rgba(0, 0, 0, .24);
    -o-box-shadow: 0 1px 0 rgba(0, 0, 0, .12), 0 1px 1px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .12), 0 1px 1px rgba(0, 0, 0, .24)
}

@media (max-width:1200px) {
    #content {
        margin-top: 36px;
        /*padding: 0 0 10px 180px;*/
        left: 190px;
        width: auto;
        position: absolute;
        /*overflow: scroll;*/
    }
}

@media only screen and (max-width:800px) {
    .responsive-table table,
    .responsive-table tbody,
    .responsive-table td,
    .responsive-table th,
    .responsive-table thead,
    .responsive-table tr {
        display: block!important
    }
    .responsive-table thead tr {
        position: absolute!important;
        top: -9999px!important;
        left: -9999px!important
    }
    .responsive-table tr {
        border: 1px solid #ccc!important
    }
    .responsive-table td {
        border: none!important;
        border-bottom: 1px solid #eee!important;
        position: relative!important;
        padding-left: 10%!important;
        white-space: normal!important;
        text-align: left!important
    }
    .responsive-table td:before {
        position: absolute!important;
        top: 6px!important;
        left: 6px!important;
        width: 45%!important;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: 700;
        content: attr(data-title)
    }
    
    .user-nav {
        float: right
    }
    .user-nav li {
        float: left
    }
    .user-nav .user-name {
        padding-top: 10px!important
    }
    .user-nav .dropdown {
        margin-top: -4px!important
    }
    .user-nav .user-dropdown {
        position: absolute!important;
        left: -120px!important
    }
}